* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, serif;
  
}

header {
  background-color: #ffffff;
  padding: 16px 120px;
}

nav {
  max-width: 1600px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-navbar img {
  width: 140px;
  
}

.menu-bar {
font-size: 16px;
list-style-type: none;
display: flex;
gap: 32px;
justify-content: space-between;

}

.menu-bar a{
  text-decoration: none;
  color: #000000;
}

.btn {
  margin: 4px;
  padding: 12px 16px;
  background-color: #30B868;
  border-radius: 4px;
  color: #ffffff;
  border: none;
}

.btn:hover {
  background-color: #084808;
}

#hero {
  background-image: url(./assets/hero-bg.png);
  height: 670px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  color: #ffffff;
  text-align: center;
}

#hero .content-head {
  background-color: #ffffff;
  color: #239d56;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 20px;
}

#hero h2 {
  font-size: 70px;
  margin-bottom: 16px;
}

#hero h2 span {
  color: #30B868;
}

#hero p {
  max-width: 670px;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 25px;

}

.button {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.btn2 {
  margin: 4px;
  padding: 12px 16px;
  background: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 4px;
}
.btn2:hover {
  background-color: #30B868;
}

.note-container {
  width: 83%;
  max-width: 1340px;
  margin: 0 auto;
}

.note-info {
  text-align: center;
  margin-top: 16px;
}
.note-container h2 {
  color: #001931;
  line-height: 58px;

}

.card-info {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px;

  
}

.card-info .card {
  background-color: #f9f5f5;
  border: 1px solid #f9f9f9;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 6px 6px #0f0f0f05;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;

}

.icon {
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 30px;
}

.card h3 {
  margin-bottom: 20px;
}

.card p {
  padding: 5px;
}

#brain-section {
  margin: 120px 100px;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
#brain-section .brain img {
  width: 600px;
  height: 600px;
  margin-left: 120px;
}

#brain-section .brain-content {
  margin: 120px 0 ;
}

.brain-content h4 {
  color: #30B868;
  font-size: 16px;
  margin-bottom: 16px;
}

.brain-content h2 {
  color: #001931;
  font-size: 48px;
  margin-bottom: 16px;
}

.brain-content p {
  color: #627382;
  font-size: 16px;
  margin-bottom: 40px;
}
.text ul {
  list-style-type: none;
  
}

.text ul li {
  align-items: center;
}

#last-section {
  width: 83%;
  max-width: 1360;
  background-color:#f9f5f5 ;
  padding: 80px 40px;
  border: 12px;
  text-align: center;
  align-items: center;
  margin-left: 120px;
  justify-content: center;
  border-radius: 10px;
  
}

#last-section h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 16px;
}

#last-section p {
  color: #627382;
  text-align: center;
  margin-bottom: 40px;
  
}

#footer {
  width: 100%;
  max-width: 1600px;
  height: 350px;
  background-color: #001931;
  margin-top: 120px;
  align-items: center;
  justify-content: space-between;
  padding: 120px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.social-link h4 {
  color: #ffffff;
  margin-bottom: 16px;
}

.social-link ul {
  list-style-type: none;
  display: flex;
  gap: 8px;
}

.social-link ul a {
  color: #ffffff;
}

#footer p {
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

.checkbox li {
  display: flex;
  align-items: center;
  gap: 10px;

}

#footer p {
  margin-top: 16px;
}










