* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ffffff;
  padding: 16px 120px;
}

nav {
  max-width: 1600px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-navbar img {
  width: 140px;
  
}

.menu-bar {
font-size: 16px;
list-style-type: none;
display: flex;
gap: 32px;
justify-content: space-between;

}

.menu-bar a{
  text-decoration: none;
  color: #000000;
}

.btn {
  margin: 4px;
  padding: 12px 16px;
  background-color: #30B868;
  border-radius: 4px;
  color: #ffffff;
  border: none;
}

.btn:hover {
  background-color: #084808;
}